*{
    margin: 0 ; 
    
}


body{
    font-family: "inter" ;
}






.btn {
    padding: 12px 16px;
    color: white;
    background-color: #30B868;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}


.btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

nav{
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}

nav .nav-menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    
}

nav .nav-menu a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}




#hero{
    background-image: url("../assets/hero-bg.png");
    min-height: calc(100vh - 92px);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}





.hero-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

#hero h1{
    width: 800px;
    height: 168px;
    color: white;
    font-size: 72px;
    font-style: bold;
    line-height: 84px;
}

.text-green{
    color: #30B868;
}


#hero p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    line-height: 24px;
    padding-bottom: 20px;
}

#hero .hero-container .hero-button{
    gap: 16px;
    display: flex;
}

.btn-2{
    color: #30B868;
    width: 183px;
    height: 30px;
    border-radius: 20px;

}

.btn-t{
    background: transparent;
    color: white;
    padding: 12px 22px;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-t:hover{
    background-color: #30B868;
    border: none;

}









#card{
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 120px 0 120px;
   
}

#card h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    margin-bottom: 12px;
}


#card p{
    font-size: 12px;
    padding-bottom: 30px;
    text-align: center;
    color: #627382;
    
}



.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 44px;
}

.card-info{
    background: white;
    padding: 40px 24px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 260px;
    
}

.card-icon{
  width: 48px;
  height: 48px;
  background-color: #F95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-info h3 {
    font-size: 24px;
    font-weight: 600;

}

.card-info p {
    font-size: 14px;
    color: #627382;
    margin-bottom: 64px;
    
    

}