*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.btn {
    padding: 12px 16px;
    color: white;
    background-color: #30B868;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}


.btn:hover{
    background-color: white;
    color: black;
}

nav{
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}

nav .nav-menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    
}

nav .nav-menu a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}














#hero{
    background-image: url(../assets/hero-bg.png);
    max-width: 1600px;
    height: 674px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}


.hero-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

#hero h1{
    width: 670px;
    height: 168px;
    color: white;
    font-size: 72px;
    font-style: bold;
    line-height: 84px;
}

.text-green{
    color: #30B868;
}


#hero p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    line-height: 24px;
    padding-bottom: 20px;
}

#hero .hero-container .hero-button{
    gap: 16px;
    display: flex;
}

.btn-2{
    color: #30B868;
    width: 183px;
    height: 30px;
    border-radius: 20px;

}

.btn-t{
    background: transparent;
    color: white;
    padding: 12px 22px;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-t:hover{
    background-color: #30B868;

}











