*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.btn{
    padding: 12px 16px;
    color: white;
    background-color: #30B868;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}


.btn:hover{
    background-color: white;
    color: black;
}

nav{
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}

nav .nav-menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    
}

nav .nav-menu a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}

